@using EntityLayer.Concrete
@model Blog

@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post))
{
    @Html.HiddenFor(x => x.BlogID, new { @class = "form-control", @readonly = "readlonly" }) // Hiden -> gizlenmiş

    <div>
        <label>Blog Başlığı</label>
        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    </div>
    <br />

    <div>
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categoryDropDownList, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <label>Blog İçeriği</label>
        @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })
        <br />
    </div>
    <br />
    <div>
        <label>Büyük Resim</label>
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    </div>
    <br />
    <button class="btn btn-warning">Bloğu Güncelle</button>
}
